<custom-cursor></custom-cursor>
<main class="main" (click)="keepFocusOnInput()">
  <h1 [ngClass]="{ 'mini-title': gameService.gameStarted }">
    <bouncing-container>S</bouncing-container>
    <bouncing-container>u</bouncing-container>
    <bouncing-container>t</bouncing-container>
    <bouncing-container>o</bouncing-container>
    <bouncing-container>m</bouncing-container>
  </h1>

  <ng-container
    *ngIf="!gameService.gameStarted && gameService.gameIsWon === undefined"
  >
    <start-form></start-form>
  </ng-container>

  <ng-container
    *ngIf="gameService.gameStarted && gameService.gameIsWon === undefined"
  >
    <grid
      [rows]="gameService.maxAttempts"
      [columns]="gameService.difficulty"
    ></grid>
    <keyboard></keyboard>
  </ng-container>

  <ng-container *ngIf="gameService.gameIsWon">
    <h3>You Win !</h3>
    <p>
      You needed {{ gameService.attempts.length }} attempt{{
        gameService.attempts.length > 1 ? "s" : ""
      }}.
    </p>
    <p>Thanks for playing!</p>
    <button class="blue-button" (click)="replay()">Rejouer</button>
  </ng-container>

  <ng-container *ngIf="gameService.gameIsWon === false">
    <h3>You Lost !</h3>
    <p>You'll do better next time...</p>
    <p>Thanks for playing!</p>
    <button class="blue-button" (click)="replay()">Try again</button>
  </ng-container>

  <ng-container *ngIf="gameService.errorStatus">
    <ng-container [ngSwitch]="gameService.errorStatus">
      <p *ngSwitchCase="gameErrorStatus.INVALID_GAME_ID">
        A problem has occurred during game recovery. Please reload the page.
      </p>
      <p *ngSwitchCase="gameErrorStatus.WORD_ALREADY_TRIED">
        You've already tried this word. Please try another.
      </p>
      <p *ngSwitchCase="gameErrorStatus.WORD_NOT_FOUND">
        This word does not exist.
      </p>
      <p *ngSwitchCase="gameErrorStatus.WORD_WRONG_SIZE">
        The word submitted is not the same length as the word to be guessed.
        Please try another.
      </p>
    </ng-container>
  </ng-container>
</main>

<router-outlet />
