.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cell {
  aspect-ratio: 1;
  width: 50px;
  border: 1px solid var(--neofacto-blue);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2px;
  background-color: var(--neofacto-blue);
  text-transform: capitalize;
}
